<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230968025491-rviitje27uhv5s0lttio5d2p0aprcr0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230968025491-rviitje27uhv5s0lttio5d2p0aprcr0c</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ9dvdIpwJndWbBTnkLBmzgoklDsLIyWs</string>
	<key>GCM_SENDER_ID</key>
	<string>230968025491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.MohamedKhaled-ACChatapp</string>
	<key>PROJECT_ID</key>
	<string>ac-chat-app-f4d3b</string>
	<key>STORAGE_BUCKET</key>
	<string>ac-chat-app-f4d3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230968025491:ios:af56ae5bd9bb34eb548866</string>
</dict>
</plist>